<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ZabbixNET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <ZabbixNET.Properties.Settings>
            <setting name="zuser" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="zhost" serializeAs="String">
                <value>http://zabbixserver/zabbix</value>
            </setting>
            <setting name="zpass" serializeAs="String">
                <value>zabbix</value>
            </setting>
            <setting name="isfirstrun" serializeAs="String">
                <value>True</value>
            </setting>
        </ZabbixNET.Properties.Settings>
    </userSettings>
</configuration>
